html{
    margin: 0;
    padding: 0;
    color: grey;
    background-color: ghostwhite;
}

*{
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
    font-size: 8.5pt;
    line-height: 1.2;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

a{
    color: sienna;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
}

a:hover{
    color: grey;
    text-decoration: underline;
    cursor: pointer;
}

/* top section (nav / header) */
header{
    margin: 20px 20px 0 20px;
}

nav .project-link{
    position: absolute;
    top: 20px;
    right: 20px;
}


/* CV table */
.CV{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.CV section{
    padding: 20px;
    width: calc(100% / 6);
}

.CV h1{
    padding-bottom: 20px;
    text-transform: uppercase;
}

.CV section div:not(:last-of-type){
    margin-bottom:20px;
}

/* footer */
footer{
    text-align: center;
    margin: 0 0 20px 0;
}

/*
mobile view
*/
@media only screen and (max-width:480px) {
    .CV section{
        width: calc(100% / 2);
    }

    /* .CV section:nth-of-type(3),
    .CV section:nth-of-type(4),
    .CV section:nth-of-type(5),
    .CV section:nth-of-type(6){
        border-top: 1px dotted grey;
    } */
}

/*
tablet view
*/
@media only screen and (min-width: 481px) and (max-width:768px) {
    .CV section{
        width: calc(100% / 3);
    }

    /* .CV section:nth-of-type(4),
    .CV section:nth-of-type(5),
    .CV section:nth-of-type(6){
        border-top: 1px dotted grey;
    } */
}
